// Post Components
.blog-post .post-content {
  // $post-font-size: 20px;

  // Images & Alignments
  .left {
    @extend .pull-left;
    margin-right: 1em;
  }
  .right {
    @extend .pull-right;
    margin-left: 1em;
  }
  .center {
    margin: 0 auto;
    display: block;
  }
}