// Post Components
.blog-post .post-content {
  // $post-font-size: 20px;

  // Images & Alignments
  .left {
    @extend .pull-left;
    margin-right: 1em;
  }
  .right {
    @extend .pull-right;
    margin-left: 1em;
  }
  .center {
    margin: 0 auto;
    display: block;
  }

  // Lists
  ol, ul {
    @include leader(1, $post-font-size);
    @include trailer(1, $post-font-size);

    ol, ul {
      @include leader(0.5, $post-font-size);
      @include trailer(0.5, $post-font-size);
    }

    ul {
      list-style: square;
    }
  }
}