@include establish-baseline;

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}