@include establish-baseline;

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.group {
  zoom: 1; /* IE6&7 */

  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li { display: inline; }
}
