@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }
  body {
    //@include baseline-grid-background(1.75em);
  }

  .site-header {
    //background: rgba(0,0,0,.75);
    @include padding-leader(1);
    //@include padding-trailer(0.5);

    .site-cover {
      $diameter : 120px;
      width: relative-size($diameter);
      height: relative-size($diameter);
      margin: margin-to-retain-rhythm($diameter) auto;
    }
    .site-title {
      @include adjust-font-size-to(40px, 2.5);
    }
  }
  .site-navbar {
    height: relative-size($base-line-height * 1.5);
    &.in-search {
      .site-nav-links {
        @include transform(translateY($base-line-height * -1.5))
      }
      .site-search {
        @include transform(translateY($base-line-height * -1.15))
      }
    }
  }
  .site-nav-links li {
    @include adjust-leading-to(1.5);
  }

  .main-content {
    img.left, img.right {
      float: none;
      margin: 0 auto;
      display: block;
    }
  }

  .blog-post {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .annual-archive {
    .archive-item {
      height: auto;
      @include leader(1, $post-font-size);
      @include trailer(1, $post-font-size);
    }
    .archive-date {
      margin-top: 0;
    }
  }

  .site-footer .theme-credit {
    display: block;
  }
}