body {
  background-image: image-url('background.jpg');
  color: hsl(0,0%,32%);
  font-family: $font-serif;
  -webkit-font-smoothing: antialiased;

  @include baseline-grid-background(1.75em);
}

.site-header {
  background: image-url('bkg-header.jpg') no-repeat center center;
  text-align: center;

  @include background-size(cover);
  @include padding-leader(2.5);
  @include padding-trailer(0.5);

  .site-cover {
    $diameter : 135px;
    width: $diameter;
    height: $diameter;
    overflow: hidden;
    margin: margin-to-retain-rhythm(135px) auto;

    @include make-circle($diameter);
    @include box-shadow(
      0 0 0 10px white,
      0 1px 5px 10px rgba(0,0,0,.75)
    );
  }

  .site-title, .site-navbar {
    color: white;
    font-family: $font-title;
    font-weight: 600;
  }

  .site-title {
    text-shadow: $site-header-shadow;
    margin: 0;

    @include adjust-font-size-to(48px, 3);
  }

  .site-navbar {
    font-size: 0;
    list-style: none;
    padding: 0;

    li {
      font-size: $base-font-size;
      display: inline;
      @include adjust-leading-to(2);
    }
    li + li:before {
      content: '•';
      padding: 0 relative-size(10px);
    }
    a {
      color: white;
    }
  }
}

.main-content {
  max-width: 700px;
  margin: 0 auto;
}

.blog-post {
  @include rhythm(0,1,1,1);

  & + & {
    border-top: 1px solid rgba(0,0,0,.15);
    margin-top: -1px;
  }

  .post-title {
    font-family: $font-title;
    font-weight: 600;

    @include adjust-font-size-to(36px);
    @include leader(1, 36px);
    @include trailer(1, 36px);

    &, a {
      color: hsl(0,0%,27%);
    }
  }

  .more-link {
    background-color: rgba(0,0,0,.65);
    color: white;
    display: inline-block;
    padding: 0 $base-line-height;

    @include adjust-leading-to(2, $post-font-size);
  }
}

.site-footer {
  background-color: rgba(0,0,0,.65);
  text-align: center;

  @include adjust-leading-to(2);

  &, a {
    color: white;
  }
}


