body {
  background-image: image-url('background.jpg');
  color: $base-color;
  font-family: $font-serif;
  -webkit-font-smoothing: antialiased;

  //@include baseline-grid-background(1.75em);
}

.site-header {
  background: image-url('bkg-header.jpg') no-repeat center center;
  //background: rgba(0,0,0,.3);
  text-align: center;

  @include background-size(cover);
  @include padding-leader(2.5);
  @include padding-trailer(0.5);

  .site-cover {
    $diameter : 135px;
    width: $diameter;
    height: $diameter;
    overflow: hidden;
    margin: margin-to-retain-rhythm(135px) auto;

    @include make-circle($diameter);
    @include box-shadow(
      0 0 0 10px white,
      0 1px 5px 10px rgba(0,0,0,.75)
    );
  }

  .site-title, .site-navbar, .site-search-field {
    color: white;
    font-family: $font-title;
    font-weight: 600;
  }

  .site-title {
    text-shadow: $site-header-shadow;
    margin: 0;

    @include adjust-font-size-to(48px, 3);
  }
}

// Global Navbar
.site-navbar {
  overflow: hidden;

  html.js & {
    height: relative-size($base-line-height * 2);
  }

  &.in-search {
    .site-nav-links {
      @include transform(translateY($base-line-height * -2))
    }
    .site-search {
      @include transform(translateY($base-line-height * -1.5))
    }
  }

  .site-nav-links, .site-search {
    -webkit-transition: 300ms cubic-bezier(.6,0,.4,0); // Fallback for legacy WebKit
    @include transition(450ms cubic-bezier(.7,-0.5,.3,1.5));
  }
}

.site-nav-links {
  font-size: 0;

  li {
    font-size: $base-font-size;
    @include adjust-leading-to(2);
  }
  li + li:before {
    content: '•';
    padding: 0 relative-size(10px);
  }
  a {
    color: white;
  }
  .no-js & .search-toggle {
    @extend .hide;
  }
}

%site-search-inactive {
  color: white;
  color: rgba(255,255,255,.5);
}

.site-search {
  .btn-search, .btn-cancel {
    background: none;
    border: none;
  }
  .btn-search {
    color: white;
    color: rgba(255,255,255,.75);
    margin-right: -6px; // Eliminate the transparent padding for better align
    @include transition(color 150ms);
  }
  .btn-cancel {
    margin-left: -6px; // Eliminate the transparent padding for better align
    @extend %site-search-inactive;

    .no-js & { @extend .hide; }
  }
}

.site-search-field {
  width: 240px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.75);
  outline: none;
  -webkit-font-smoothing: antialiased;
  @include transition(border-color 150ms);

  &::-webkit-input-placeholder,
  &::-webkit-input-speech-button:before {
    @extend %site-search-inactive;
  }

  &::-webkit-input-speech-button {
    -webkit-appearance: none;
    padding: 0 0.2em;
  }
  &::-webkit-input-speech-button:before {
    content: '\f130';
    font-family: FontAwesome;
    font-size: 85%;
  }

  &:focus {
    border-bottom-color: white;
    & + .btn-search { color: white; }
  }
}


.main-content {
  max-width: 700px;
  margin: 0 auto;
}

.search-result-meta + .blog-post {
  padding-top: 0;
}

.blog-post {
  @include rhythm(0,1,1,1);

  & + & {
    border-top: 1px solid $post-border-color;
    margin-top: -1px;
  }

  .post-title {
    font-family: $font-title;
    font-weight: 600;

    @include adjust-font-size-to(36px);
    @include leader(1, 36px);
    @include trailer(1, 36px);

    &, a {
      color: $base-color-dark;
    }
  }

  .more-link {
    background-color: rgba(0,0,0,.65);
    color: white;
    display: inline-block;
    padding: 0 $base-line-height;

    @include adjust-leading-to(2, $post-font-size);
  }

  .post-social-share {
    height: relative-size(20px);
    margin: relative-size($base-line-height) 0;
    padding: relative-size( ($base-line-height - 20px)/2 );
  }

  .post-footer {
    border-top: 1px solid $post-border-color;
    border-bottom: 1px solid $post-border-color;
    margin: -1px 0;

    &, .tag-list a {
      color: $base-color-lighter;
    }

    @include adjust-leading-to(2);
  }

  .tag-list {
    a:before {
      content: '#';
    }
  }
}

.site-footer {
  background-color: rgba(0,0,0,.65);
  text-align: center;

  @include adjust-leading-to(2);

  &, a {
    color: white;
  }

  p {
    margin: 0;
  }
}


