@media screen and (max-width: 580px) {
  // Extend max-width if default nav items increases
  .header {
    .nav {
      max-width: 100%;
      text-align: center;
      margin-top: 0;
      float: none;
      clear: both;
    }
  }
}

@media screen and (max-width: 580px) {
  .wrapper {
    font-size: .9em;
  }
  .header {
    margin-top: 1.5em;

    .logo, .nav, .search {
      float: none;
    }
    .logo, .search .search-box {
      width: 30em;
    }
    .logo {
      margin: 2em auto;
      //@include transform(none);

      span.tagline {
        font-size: 1.2em;
      }
    }
    .search {
      width: 100%;
      text-align: center;
    }
  }
}

// iPhone in horizontal mode
@media (max-width: 568px) and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 568px) and (min-resolution: 192dpi*0.75 ),
       screen and (max-width: 480px) {
  .header {
    .search .search-box {
      width: 100%;
      height: 30px;
      @include box-sizing(border-box);
    }
    .logo {
      width: 83%;
    }
    .nav {
      font-size: 1.2em;
    }
  }
  .content {
    .post {
      padding: 20px;
      -webkit-text-size-adjust: 110%;

      .rel-date {
        float: none;
        display: block;
        margin-bottom: 0.5em;
      }
      .title h2 {
        font-size: 1.5em;
        line-height: 1.3em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding: 0 10px;
  }
  .header {
    .logo {
      width: 100%;
      font-size: 1em;
    }
  }
  .content {
    .post {
      padding: 15px;
      -webkit-text-size-adjust: auto;
    }
  }
}
